@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

.mainChoice{
    width: 375px;
    height: 667px;
    background: linear-gradient(180deg, #FEFEFD 0%, #ECF8FF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.textDivQue{
    padding: 0;
    margin-bottom: 7px;
    margin-top: 50px;
}

.textQue{
    font-family: Comfortaa;
    width: 311px;
    height: 58px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #005020;
}

.mainCardChoice{
    width: 306px;
    height: 366px;
    background: linear-gradient(180deg, #A0BA8A 0%, #3F604D 100%);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 33px;
    padding-top: 23px;
    gap: 18px;
    z-index: 1;
}

.continueButtonChoice{
    width: 156px;
    height: 30px;
    border-radius: 9px;
    background: #3C5F4C;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    color: #FFF4CE;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continueButtonTextChoice:hover{
    text-decoration: none;
}

.mainCardChoice > div{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    transition-duration: 0.5s;
}

.mainCardChoice > div:hover{
    /* outline: white 2px solid;
    border-radius: 10px; */
    transform: scale(1.4);
    transition-duration: 0.5s;
    cursor: pointer;
}

.mainCardChoice > div > div{
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.mainCardChoice > div span{
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
    color: white;
}

.neytral{
    background-image: url(../../img/заяцНейтр.svg);
    width: 58px;
    height: 101px;
}

.neytralCard{
    width: 85px;
    height: 116px;
}

.sad{
    background-image: url(../../img/заяцГрусть.svg);
    width: 99px;
    height: 72px;
}

.sadCard{
    width: 99px;
    height: 116px;
}

.angry{
    background-image: url(../../img/заяцЗлой.svg);
    width: 69px;
    height: 89px;
}

.angryCard{
    width: 69px;
    height: 116px;
}

.happy{
    background-image: url(../../img/заяцРадость.svg);
    width: 86px;
    height: 108px;
}

.happyCard{
    width: 86px;
    height: 116px;
}

.fear{
    background-image: url(../../img/заяцСтрах.svg);
    width: 117px;
    height: 70px;
}

.fearCard{
    width: 117px;
    height: 116px;
}

.linkEmChoiceButton{
    z-index: 1;
}