@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

.main{
    width: 375px;
    height: 667px;
    background: linear-gradient(180deg, #FEFEFD 0%, #ECF8FF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.week{
    height: 80px;
    min-width: 375px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 0;
    margin-top: 15px;
}

.textDiv{
    padding: 0;
    margin-bottom: 7px;
    margin-top: 23px;
}

.textFeel{
    font-family: Comfortaa;
    width: 311px;
    height: 58px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #005020;
}

.mainCard{
    width: 306px;
    height: 366px;
    background: #9BB789;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuButtons{
    height: 40px;
    width: 306px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
    margin-top: 35px;
    padding: 0;
}

.menuButtons div{
    width: 46px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
}

.galery{
    background-image: url(../../img/галлерея.svg);
    margin-left: 30px;
}

.grafik{
    background-image: url(../../img/график.svg);
}

.calendary{
    background-image: url(../../img/календарь.svg);
}

.week div>text{
    font-family: Open Sans Hebrew;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.monday,.thursday,.wendsday,.thirdsday,.friday,.saturday,.sunday{
    padding: 0;
    width: 34px;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.week div>div{
    height: 58px;
    background: linear-gradient(180deg, #A1BC8C 0%, #436551 100%);
    border-radius: 10px;
    padding: 0;
}

.dayCard{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.numberDay{
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0em;
    color: #BDDAAE;
    margin-bottom: 3px;
    margin-right: 4px;

}

.backArrow, .nextArrow{
    width: 18px;
    height: 30px;
    padding: 0;
    margin-top: 21px;
}

.backArrow{
    background-image: url(../../img/назадСтрелка.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nextArrow{
    background-image: url(../../img/впередСтрелка.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textDays{
    font-family: Comfortaa;
    text-align: center;
    padding-bottom: 5px;
    color: #3F614E;
}

.mainAnimal{
    margin-top: 31px;
    width: 109px;
    height: 181px;
    padding: 0;
    margin-bottom: 8px;
    background-image: url(../../img/заяцНейтр.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.moodTrack{
    width: 239px;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 29px;
}

.bad-good{
    display: flex;
    padding: 0;
    justify-content: space-between
}

.bad-good div{
    padding: 0;
    font-family:Comfortaa;
}

.bad{
    color: red;
}

.good{
    color: rgb(255, 255, 255);
}

.progress{
    padding: 0;
}


.continueButtonText{
    font-weight: bold;
    color: #005020;
    font-family:Comfortaa;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

.continueButtonText:hover{
    text-decoration: none;
}